.footer {
	margin: 100px 0;
	background-image: url(../img/footer-bg.png);
	height: 730px;
	display: flex;
	justify-content: space-around;
}
.ask-form {
	display: flex;
	flex-direction: column;
	height: 317px;
	width: 600px;
}

.ask-title {
	font-size: 24px;
	font-weight: 700;
	line-height: 33px;
	color: white;
	padding: 70px 0 30px 0;
}
.ask-input {
	width: 530px;
	height: 30px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #CCC;
	outline: none;
	color: white;
	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
	margin: 30px 0;
	padding: 10px 0;
}

.ask-btn {
	padding: 119px 0 0 0;
}
.ask-icon {
	top: 55px;
    left: -35px;
}

.contacts-form{
	height: 317px;
	width: 600px;
}

.info-contacts{
	color: white;
}

.footer-logo{
	display: flex;
	padding: -100px;
}

.footer-logotype-img{
	padding: 0;

}

.policy-link{
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	color: white;

}