.header {
	text-align: center;
	height: 900px;
	background-image: url(../img/header-background.png);
	background-size: cover;
}

.logotype-img {
	padding: 70px 0 140px 0;
}
.text {
	font-weight: 400;
}
.main-text {
	line-height: 25px;
	font-size: 18px;
	color:white;
}
.title {
	font-weight: 700;
}
.main-title {
	line-height: 87px;
	font-size: 64px;
	color: white;
}
.subtitle {
	font-weight: 400;
}
.main-subtitle {
	font-size: 42px;
	line-height: 57px;
	color: white;
}

.consult-link{
	font-size: 18px;
	font-weight: 400;
	line-height: 25px;
	color: white;
}

.consult-icon{
	position: absolute;
	top: 50px;
	left: 41%;
}

.consult-btn{
	padding: 109px 0 250px 0;
	position: relative;
}

.social-icon{
	padding: 0 10px ;
}